.container
  = render 'commons/top', center: 'Comment'
  %ul
    - @comment.errors.full_messages.each do |message|
      %li
        = message
  .new-user-box
    .new-user-icon-box
      = image_tag current_user.user_avatar, class: 'new-user-icon'
    .new-user-accountname-box
      = current_user.accountname

  = form_with(model: @comment, url: article_comments_path , method: 'post', local: true) do |f|
    %div
      = f.text_area :content, class: 'text-area'
    = f.submit '返信', class: 'btn new-btn'